span{
    color: red;
}
legend{
    color: blue;
    font-weight: bolder;
}
button{
 width: 250px;

}
.cass{
   position: relative;
    bottom: 1px;
    margin-right: 5px;
    margin: -3px;
}
.sssa{
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    margin: -3px;
}
.ssa{
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    margin: -3px;
}
.ssaa{
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    margin: -3px;
}
.nana,.dass,.yass,.fass,.kass,.hass{
    margin-left: 34px;
}
.tass,.bass{
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    margin: -3px;
}

